<div th:fragment="datetable">
    <table class="table" >
        <thead>
        <tr>
            <th></th>
            <th>Месяц</th>
            <th>Год</th>
            <th>Количество рабочих часов</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el:${dates}">
            <th th:text="${el.month}"></th>
            <th th:text="${el.year}"></th>
            <th th:text="${el.workHours}"></th>
            <th><a th:href="@{/admin/dates/details/{id}(id=${el.dateId})}">Подробнее</a></th>
        </tr>
        </tbody>
    </table>

</div>