<div th:fragment="employeestable">
    <table class="table" >
        <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
            <th>Должность</th>
            <th>Почта</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el:${employees}">
            <th th:text="${el.lastName}"></th>
            <th th:text="${el.firstName}"></th>
            <th th:text="${el.patronymic}"></th>
            <th th:text="${el.post.post}"></th>
            <th th:text="${el.mail}"></th>
            <th><a th:href="@{/admin/employees/details/{empid}(empid=${el.userid})}">Подробнее</a></th>
        </tr>
        </tbody>
    </table>

</div>