<div th:fragment="salariestable">
    <table class="table" >
        <thead>
        <tr>
            <th>Фамилия сотрудника</th>
            <th>Премия</th>
            <th>Заработная плата</th>
            <th>Выплата аванса</th>
            <th>Выплаченная сумма</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el:${salaries}">
            <th th:text="${el.timeSheet.user.lastName}"></th>
            <th th:text="${el.award}"></th>
            <th th:text="${el.salary}"></th>
            <th th:text="${el.prepayment}"></th>
            <th th:text="${el.paidSalary}"></th>
            <th><a th:href="@{/admin/salary/details/{id}(id=${el.salaryId})}">Подробнее</a></th>
        </tr>
        </tbody>
    </table>

</div>